body {
	font-family: 'PT Sans', sans-serif;
	/*font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Open Sans', sans-serif;*/
	padding: 0;
	margin: 0;
	color: #fff;
	background: #000;
}

.container	{
	max-width: 980px;
	padding: 0 10px;
	margin: 0 auto;
}

div, p, form, input, a, span, button, li {
	box-sizing: border-box;
}

p {
	 padding: 0;
	 margin: 0;   
}	

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;	
}
h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	
}
a, a:hover, a:active {
	text-decoration: none;
	/*color: #000;*/

}

a, button, input {
	transition: all 0.5s ease;
}


input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}
.d-flex {
	display: flex;
}

.tac {
	text-align: center;
}

/* ------ Header --------------------------------------------------------------------------------------- */

.header {
	background: url(..//img/man-header.png) no-repeat center;
	width: 100%;
	padding-top: 10px;
}

.pantot {
	width: 780px;
	justify-content: space-between;
}

.panton__text {
	font-size: 24px;
	font-weight: 700;
	position: relative;
}

.panton__text_left {
	 
	margin-bottom: 
}

.panton__text_left:before {
	content: '';
	background: url(..//img/list.png) no-repeat;
	width: 30px;
	height: 38px;
	position: absolute;
	left: -38px;
	top: 2px;
	display: block;
	
}

.panton__text_right:before {
	content: '';
	background: url(..//img/class.png) no-repeat;
	width: 43px;
	height: 38px;
	position: absolute;
	left: -53px;
	top: -4px;
	display: block;
}

.panton__text_span {
	font-size: 18px;
	font-weight: 400;
}

.header-title {
	font-weight: 700;
	font-size: 60px;
	color: #efe193;
	text-transform: uppercase;
	font-family: Roboto Condensed;
	margin-top: 20px;
	
}

.wraper-main  {	
	justify-content: space-between;

	}

/*Левый блок----------------------------------*/
.main-info, .main-center, .timer-form {
	display: block;
	/*border: 1px solid red;*/
}


.main-info__text {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 24px;
	width: 350px;
}

.main-info__spisok {
	margin-top: 10px;
}

.main-info__items {		
	margin-bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	color: #d7d7d7;
	font-size: 18px;
	
}

.main-info__items:last-child {
	margin-bottom: 0;
    width: 184px;
    flex-wrap: nowrap;
    align-items: unset;
}

.main-info__items:before{
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: url(..//img/galochka.png) no-repeat;
	flex-shrink: 0;
	margin-right: 8px;
}

.main-info__img {
	position: relative;
}

.main-info__product {
	position: absolute;
	left: 0;
	top: 25px;
}

/*Центральный блок*/
.main-center {	
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
	
}

.main-center img {
	margin: 0 auto;
}

/*Header Блок С Формой------------------------------------------------------------------------------*/

.timer-form__timer {
	align-items: center;
}

.timer-form__bloc {
	width: 70px;
	text-align: center;	
	background: #f6f6f6;
	font-size: 50px;
	font-weight: 700;
	border-radius: 8px;
	margin-right: 10px;
	color: #000;
	position: relative;

}

.timer-form__bloc:after {
	content: '';
	display: block;
	width: 49px;
	height: 2px;	
	background: #cecece;
	position: absolute;
	top: 50%;
	left: 0;

}

.timer-form__text {
	line-height: 1.2em;
	font-size: 19px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.timer-form__bloc:first-child {
	opacity: 0.5;
}

.wraper-cena {
	height: 120px;
	background: url(..//img/form-fon.png) no-repeat center;
	justify-content: space-around;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.cena-left {
	color: #7f5c53;
	font-weight: 400;
	position: relative;
}

.cena-left span, .cena-right span {
	font-size: 23px;
}

.cena-left, .cena-right  {
	font-size: 45px;	
	font-family: 'PT Sans Narrow', sans-serif;
}

.cena-right {
	font-weight: 700;
	/*margin-left: 30px*/;
}
.cena-left:before {
	content: 'Полная цена';
	display: block;
	color: #7f5c53;
	font-size: 18px;
}

.cena-left:after{
	content: '';
	display: block;
	width: 84px;
	height: 2px;
	background: #7f5c53;
	position: absolute;
	bottom: 20px;
	left: 0;
}

.cena-right:before {
	content: 'Цена со скидкой';
	display: block;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
}

.form-header {
   /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;*/
    background: #fff;
    margin: 0 auto;
    max-width: 294px;
    margin-top: 27px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.bloc-input {
	text-align: center;
	margin-top: 20px;
}

.bloc-input__input {
	width: 255px;
	padding: 15px 0 15px 8px;
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
	margin-bottom: 15px;
	border-radius: 8px;
}

.bloc-input__input, input::-webkit-input-placeholder {
	font-size: 14px;
	color: #a6a6a6;
	font-family: 'Open Sans', sans-serif;

}
.bloc-input__button {
	width: 255px;
	/*padding: 15px;*/
	display: flex;	
	align-items: center;
	margin: 5px auto 0 auto;
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	font-family: 'PT Sans Narrow', sans-serif;
	border: none;
	border-radius: 5px;
	background: rgba(245,72,26,1);
	background: -moz-linear-gradient(top, rgba(245,72,26,1) 0%, rgba(216,61,23,1) 69%, rgba(216,61,23,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,72,26,1)), color-stop(69%, rgba(216,61,23,1)), color-stop(100%, rgba(216,61,23,1)));
	background: -webkit-linear-gradient(top, rgba(245,72,26,1) 0%, rgba(216,61,23,1) 69%, rgba(216,61,23,1) 100%);
	background: -o-linear-gradient(top, rgba(245,72,26,1) 0%, rgba(216,61,23,1) 69%, rgba(216,61,23,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,72,26,1) 0%, rgba(216,61,23,1) 69%, rgba(216,61,23,1) 100%);
	background: linear-gradient(to bottom, rgba(245,72,26,1) 0%, rgba(216,61,23,1) 69%, rgba(216,61,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5481a', endColorstr='#d83d17', GradientType=0 );

}
.bloc-input__button:before {
	content: '>';
	display: block;
	width: 50px;
	margin-right: auto;
	padding: 13px 3px;
	background: #b13412;
	font-size: 30px;
	margin: 0px 13px 0 -5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.bloc-input__text {
	background: #;
	font-size: 15px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000;
	margin-top: 20px;
	display: inline-flex;

}

.bloc-input__text:before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	background: url(..//img/zamoc.png) no-repeat center;

}

/*Вторая секция --------------------------------------------------------------------------------------*/

.problems {
	padding: 50px 0;
}
.problems-title {	
	font-size: 48px;
	font-weight: 700;
	
}

.font-w {
	font-weight: 400;
}

.red {
	color: red;
}

.problems-text {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
}

.problems-button__btn {
	width: 250px;
	padding: 22px 0;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	background: #fc6038;
}

.problems-form {
	text-align: center;
	background: #fff;
	display: inline-block;
	color: #000;
	padding: 30px 65px 50px 65px;
	border-radius: 8px;
	margin-top: 30px;
	position: relative;
	
	
}

.problems-form__title {
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 24px;

	
}

.problems-form__want {
	width: 61px;
	height: 61px;
	display: inline-block;
	font-size: 30px;
	border-radius: 50%;
	background: #e5e5e5;
	text-align: center;
	line-height: 58px;
	margin-right: 10px;
}

.problems-button__btn_left {
	margin-right: 20px;
}

.problems-form:after {
    content: '';
    display: block;
    background: url(..//img/problems-fon2.png) no-repeat right;
    width: 100%;
    height: 350px;
    position: absolute;
    left: 25%;
    z-index: -2;
    bottom: 11%;
}

.problems-form:before {
    content: '';
    display: block;
    background: url(..//img/problems-fon.png) no-repeat right;
    width: 100%;
    height: 350px;
    position: absolute;
    right: 63%;
    z-index: -2;
    bottom: 11%;
}

/*Третья секция -------------------------------------------------------------------------------------*/

.pleasure {
	padding-bottom: 60px;
}

.pleas-wraper {
    background: url(..//img/Layer.png) no-repeat 450px 24%;
	color: #000;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	padding: 25px 35px 30px 35px;
	

}

.pleas-wraper__title {
	
	font-size: 48px;
	font-weight: 700;
	
	max-width: 70%;
}

.pleas-wraper__text{
	font-size: 17px;	
	font-family: 'PT Sans', sans-serif;
	max-width: 63%;
}

.pleas-wraper__text span {
	font-weight: 700;
	text-transform: uppercase;
	
}

/*Четвертая секция -------------------------------------------------------------------------------------*/

.advantages {
	padding-bottom: 60px;
	background: url(..//img/fon-advantages.png) no-repeat 10% 100%;
}

.advantages-wraper {
	margin-top: 15px;
	
}

.advantag-img__img {
	max-width: 400px;
    position: absolute;
    top: 3%;
    left: -2%;

}

.advantag-img {
	/*background: url(..//img/product1.png) no-repeat left / cover;*/
	width: 68%;
	margin-top: 20px;
	position: relative;7
}

.advantag-blocks {
	flex-wrap: wrap;
	justify-content: space-between;
	height: 505px;
}

.advantag-blocks__items1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 200px;
}

.advantag-blocks__img {

}

.advantag-blocks__title {
    background: #fff;
    color: #000;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    padding: 0 10px;
}

/*FOOTER--------------------------------------------------------------------------------------------*/
	
	.footer-title {
		margin-bottom: 25px;
	}

	.footer-bloc {
	    background: url(..//img/footet-fon.png) no-repeat 112% 27%;
		background-color: #fff;
	    color: #000;
	    border-radius: 8px;
	    position: relative;
	    padding: 25px;
	}

	.bloc-text {
		width: 65%;
	}
	
	.bloc-text__text {
		margin-bottom: 20px;

	}

	.bloc-text__name {
		font-weight: bold;
		font-style: italic;
	    float: left;  
   		margin-top: 20px;
   		margin-right: 30px;
	}

	.bloc-foto {
    position: absolute;
    /* top: 0; */
    right: -18px;
    bottom: -12px;
    
	}
	.bloc-foto img {
		width: 340px;
	}

/*---------------medium quality ABOUT-----------------*/

/* 992-1200px */
/*@media screen and (max-width: 1200px) {
	
	
}*

/* 768-992px */
@media screen and (max-width: 979px) {
	.container {
		min-width: 720px;
	}
	.pantot {
		max-width: 100%	}

	.main-info__product {
	   top: 171px;
	    left: auto;
	    max-width: 360px;
	}

	.main-info__img {
		position: static;
	}

	.wraper-main { 
    flex-direction: column;
    text-align: center;}

    .timer-form__timer {
    	justify-content: center;
    	margin-top: 20px;
    }

    .problems-form:before, .problems-form:after {
    	display: none;
    	
    }

    .pleas-wraper {
		background: none;
		background-color: #fff;
	}

	.pleas-wraper__title {
		max-width: 100%;
		margin-bottom: 15px;
		font-size: 30px;
	}

	.pleas-wraper__text {
		max-width: 100%;
		font-size: 16px;
	}

	.advantag-img {
		display: none;
		
	}

	.advantag-blocks {
		width: 84%;
		
	}

	.advantages-wraper {
		justify-content: center;
	}



	.bloc-foto {
		z-index: 1;
		right: 0%;

	}

	.bloc-text {
		z-index: 3;
	}

	.footer-bloc {
		background: url(..//img/footet-fon.png) no-repeat 60% 27%;
		background-color: #fff;
		background-size: cover;
	}
	
}

/* 576-768px */
@media screen and (max-width: 768px) {
	.container {
		min-width: 520px;
	}

	.pantot {
		flex-direction: column;
    	text-align: center;
}

	.panton__text_left:before {
		    left: 135px;
	}

	.panton__text_right:before {
		left: 131px;
    	top: -3px;
	}

	.panton__text_left {
		margin: 19px 0;
	}

	.header-title {
		font-size: 49px;
	}

	.main-info__product {
	 display: none;
	 
	}

	.problems-button__btn {
		width: 170px;
	}

	.problems-form__title {
		font-size: 21px;
	}

	.problems-form:before {
		bottom: 2%;
		right: 46%;
	}

	.problems-form:after {
		bottom: 0%;
		left: 22%;
	}

	.pleas-wraper {
		padding: 10px;

	}

	.pleas-wraper__title {
		margin-bottom: 15px;
	    font-size: 23px;
	    text-align: center;
	}

	.advantag-blocks {
		justify-content: space-around;
		height: 100%;
	}

	.advantag-blocks__items1 {
		margin-bottom: 10px;
	}

	.bloc-foto img {
		max-width: 100%;
	}

	.bloc-foto {    
        top: 62%;
   		right: 5%;
    	width: 205px;
	}

	.bloc-text {
		padding-bottom: 140px;
		width: 100%;
	}

	.footer-bloc {
		padding-bottom: 0;
	}

	.bloc-text__name {
		float: none;
		margin-right: 0;
		margin-bottom: 30px;
	}
}
	
/*media Запросы-----------------------------------------------------------------------------------------*/

/* 320-576px */
@media screen and (max-width: 576px) {	
	.container {
		min-width: 300px;
	}

	.panton__text_left:before {
		left: 30px;
	}

	.panton__text_right:before {
		left: 22px;
	}

	.header-title {
		font-size: 30px;
	}

	.main-info__text {
		width: 100%;
		text-align: left;
		font-size: 18px;
	}

	.main-info__items {
		font-size: 16px;
	}

	.main-center img{
		width: 60%;
	    margin: 20px auto;
	}

	.main-info__product {
		display: none;
		
	}

	.problems-form:after, .problems-form:before {
		display: none;		
	}

	.problems-title {
		font-size: 28px;
	}

	.problems-text {
		font-size: 13px;
	}

	.problems-form__title {
		font-size: 15px;

	}

	.problems-form__want {
		width: 40px;
    	height: 40px;
    	line-height: 40px;
    	font-size: 20px;
	}

	.problems-form {
		padding: 20px 30px 30px 30px;
	}

	.problems-button__btn_left {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.advantages-title {
		font-size: 28px;
	}

	.advantag-blocks {
		height: 100%;
	}

	.footer-bloc {
		padding: 10px 10px 10px 10px;

	}

	.bloc-foto {
	display: none;
	}

	.bloc-text {
		padding-bottom: 0;
	}

	.bloc-text__podpis {
		margin: 0 auto;
		display: block;
		
	}

}
