@media screen and (max-width: 1400px) {
    .content-img:after {
      display: none
    }
  
    .wrapper-content {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -moz-text-align-last: center;
      text-align-last: center
    }
  }
  
  @media screen and (max-width: 1300px) {
    .block-input {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
    }
  }
  
  @media screen and (max-width: 1150px) {
    .content {
      -moz-text-align-last: center;
      text-align-last: center
    }
  
    .menu__link {
      padding: 20px 5px
    }
  
    .specialties {
      -moz-text-align-last: center;
      text-align-last: center
    }
  }
  
  @media screen and (max-width: 800px) {
    .wrapper-contact-btn {
      margin-top: 20px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%
    }
  
    .wrapper-contact-btn__btn {
      margin-top: 20px;
      margin-left: 0;
      padding: 20px 0
    }
  }
  
  @media screen and (max-width: 772px) {
    .list-product {
      border: 1px solid;
      padding: 50px 50px 0 50px;
      margin-bottom: 30px
    }
  
    .wrapper-foto {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
    }
  
    .foto-item {
      margin-bottom: 20px
    }
  
    .foto-item img {
      width: 100%
    }
  }
  
  @media screen and (max-width: 750px) {
    .menu__box {
      display: none
    }
  
    .icon-menu-mobile-left,
    .icon-menu-mobile-right {
      display: block;
      font-size: 30px;
      cursor: pointer
    }
  
    .logo {
      width: 125px;
      height: 125px
    }
  
    .logo img {
      width: 100%
    }
  
    .book-table {
      margin: 0
    }
  }
  
  @media screen and (max-width: 700px) {
    .container {
      padding: 0 10px
    }
  
    .wrapper-main-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
    }
  
    .book-table {
      margin-bottom: 15px
    }
  
    .wrapper-main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
    }
  
    .left-block {
      display: none
    }
  
    .center-block {
      margin: 0 auto;
      width: 100%;
      text-align: center
    }
  
    .social {
      width: 60%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around
    }
  
    .link-scroll {
      display: none
    }
  
    .right-block {
      margin-top: 50px
    }
  
    .delicious-menu {
      padding: 50px 0
    }
  
    .wrapper-contact-btn {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column
    }
  
    .wrapper-contact-btn__span {
      margin-left: 0;
      display: block;
      margin-bottom: 20px
    }
  
    .wrapper-contact-btn__btn {
      width: 90%
    }
  }
  
  @media screen and (max-width: 650px) {
    .box-img__signature {
      display: none
    }
  }
  
  @media screen and (max-width: 500px) {
    .list-product {
      padding: 0;
      border: none
    }
  }
  
  @media screen and (max-width: 450px) {
    .title {
      font-size: 22vw
    }
  
    .right-block {
      margin-top: 30px
    }
  
    .social {
      width: 100%
    }
  
    .content__description {
      font-family: 'OpenSans-Bold';
      font-style: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: normal;
    }
  
    .about-content__content {
      -moz-text-align-last: center;
      text-align-last: center;
      margin: 1rem 0;
    }
  
    .block-input input {
      width: 90%
    }
  }