body {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: #2b2b2b;
}

.container {
    width: 840px;
    margin: 0 auto;
}

.container-header {
    width: 1056px;    
    margin: 0 auto;
}
h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

/* .wrapper:nth-child(even) {
    flex-direction: row-reverse;
} */

.header {
    padding-bottom: 100px;
}
.card-title {
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 7px;
    right: 0;
    left: 0;
}

.card-title__title {
    font-weight: 400;
    font-size: 16px;
}

.card-title__text {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: 300;
}

.card {
    width: 240px;
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper:first-child {
    padding: 100px 0;
}

.card-title-bg {
    background: none;
    background-image: linear-gradient(to top, rgba(4, 7, 30), rgba(6, 23, 35, 0.03) );
}

.produkt {
    padding-bottom: 150px;
}

.magrin-top {
    margin-top: 86px;
}


/* Section card */

.wrapper-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-card {
    width: 400px;
}

.block-img {
    position: relative;
}

.block-img span {
    padding: 0 10px 1px 30px;
    background-color: #fff;
    border-radius: 10px;
    color: #626262;
    font-size: 14px;
    position: absolute;
    right: 17px;
    bottom: 30px;
    /* background: url(../img/icon-clock.svg) no-repeat 14% 40%; */
    background-color: #fff;    
}

.block-skidka {
    padding: 15px 14px;
    text-align: center;
    position: absolute;
    top: -8px;
    right: 16px;
    color: #fff;
    background:  #df535a; 
}

.block-skidka:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #85292e transparent;
}

.block-skidka__text {
    font-size: 8px;
    text-transform: uppercase;
}

.block-skidka__text_font {
    font-size: 18px;
}

.wrap-after {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.after {
    display: flex;       
}

.after img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;    
}

.ratings {
    display: flex;
    margin: 0;
}

.ratings__item {
    display: block;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;    
}

.cetn__none {
    text-decoration: line-through;
    color: #626262;
    margin-right: 9px;
}

.cent__cent {
    font-size: 24px;
    color: #df535a;
    font-weight: 700;
    margin-right: 8px;
}

.cetn__text {
    color: #626262;
    font-size: 14px;
    font-weight: 300;
}
/* цвет звездачек ------------------------------------ */
.ratings-alesya {
    fill: #df535a;
}

.ratings__item_color {
    fill: #e2e2e2;
    /* fill-opacity: 0.5; */
}

 


