body {
    margin: 0;
    padding: 0;
    font-family: 'Teko 400';
    color: #fff;
    background: #262626;
    
}

h1, h2, h3, h4 {
    font-family: 'Teko 700';
    margin: 0;
    padding: 0;
    line-height: 1;
}
a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1060px;
}

.container-big {
    max-width: 1350px;
    margin: 0 auto;
}

.top-panel {
    /* background: #262626; */
    width: 100%;    
    color: #fff;
}

.top-panel__text {
    font-size: 12px;
    font-family: 'Teko 500';
}

.top-panel-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 78px;
}
.top-panel__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.top-panel__link {
    margin-right: 28px;
}

.top-panel__link:last-child {
    margin-right: 0;
}

/* Header ========================================
*/

.header {
    padding-top: 40px;
    height: 88vh;
    background: url('../img/heder-fon1.jpg') no-repeat center / cover;
    background-position-y: 17%;
    
}

.header-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu__item {
    list-style: none;
    margin-right: 45px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22.5px;
    position: relative;

}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #404040;
    letter-spacing: 0.030em;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

}

.menu__item::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #004cff;
    position: absolute;
    top: 10px;
    right: -25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.menu__item:last-child::after {
    display: none;
}

.menu__link:hover, .menu__link-active, .product-list__link:hover, .product-list__link_active {
    color: #004cff;
}


.header-nav-btn {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #004cff;
    min-width: 200px;
    display: block;
    color: #fff;
    font-size: 22.5px;
    text-align: center;
    padding: 12px 0;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

.header-nav-btn:hover {
    -webkit-box-shadow: inset 0px 0px 20px 9px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 20px 9px rgba(0, 0, 0, 0.5);
}



.header-title {
    max-width: 400px;
    margin-top: 130px;
    font-size: 68.5px;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: 2.06px; 

}

.header-content--btn {
    width: 248px;
    padding: 13px 0;
    display: block;
    border: solid 6px #ffffff;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;

}

/* main=-=-=--==-=-=-=-=-=-=-=-=-=-=- */

.main-content {
    padding-top: 40px;
    padding-bottom: 50px;
}

.wrapp-images {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.wrapp-img__content {
    color: #fff;
    max-width: 880px;
    height: 400px;
    position: relative;
}

.wrapp-img__content img, .wrapp-img__content_smoll img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}



.wrapp-img__owerlay {
    background: rgba(0, 76, 255, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -ms-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
}

.wrapp-img__owerlay:hover {
    opacity: 1;
}


.wrapp-img__text_right {
    position: absolute;
    top: 150px;
    right: 70px;
    font-size: 78px;
    font-weight: bold;
    line-height: 0.9;
    width: 140px;
}

.wrapp-img__text_left {
    display: block;
    position: absolute;
    top: 100px;
    left: 140px;
    width: 390px;
    font-family: 'Teko 500';
    font-size: 68.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2.06px;  
}

.wrapp-img__text_small {
    font-size: 43px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
}

.wrapp-img__content_smoll {
    height: 400px;
    width: 417px;
    position: relative;
}

.wrapp-img__content_smoll .wrapp-img__text_left { 
    top: 100px;
    left:30px;
    width: 200px;
    font-family: 'Teko 500';
    font-size: 38.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2.06px;  
}


.wrapp-img__content_small {
    display: inline;   
    margin-right: 20px;

}
.wrapp-img__content_smoll .wrapp-img__text_right {
    width: auto;
    top: 250px;
}



/* Section Product=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.section-product {
    padding: 50px 0;
}

.section-product__title {
    text-align: center;
    font-size: 52px;
    font-family: 'Teko 700';
    color: #f1f1f1;
}

.product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 3px solid #b2b2b2;
    padding-bottom: 50px;
    margin-top: 40px;
    
}

.product-list__item {
    padding: 0 23px;
    font-size: 21px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 1.19;

}

.product-list__link {
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

.product-card {
    color: #262626;
    font-family: 'Montserrat';
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    text-align: center;
    
}

.product-card__card {
    background: #fff;
    padding: 50px 33px 25px 33px;
    
}

.product-card__card img {
    width: 251px;
    height: 281px;
}

.product-card__card:last-child {
    margin-right: 0;
}

.product-card__title {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.19;
    letter-spacing: normal;
    color: #262626;
    margin-top: 70px;
    margin-bottom: 27px;

}

.product-card__cent {    
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #004cff;
}


.wrap-gallare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.wrapp-img__section-save_smoll {
    width: 530px;
}

.wrapp-img__section-save_big {
    width: 775px;
}

.subscribe-wrapper {
    margin-top: 20px;
}

.subscribe__title {
    font-family: 'Teko 700';
    font-size: 97px;
    line-height: 1.5;
    margin-bottom: 70px;
}

.subscribe {
    position: relative;
    height: 550px;
  
}

.subscribe__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.subscribe__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 76, 255, 0.75);
    opacity: 0;
    transition: opacity .2s ease-in;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subscribe__overlay:hover {
    opacity: 1;
}

.subscribe__form {
    display: flex;
    width: 900px;
}
.subscribe__input { 
    padding: 0 44px;  
    height: 62px;    
    background-color: #ffffff;
    border: none;
    font-family: 'Montserrat';
    font-size: 19px;    
    color: #707070;
    flex-grow: 2;
    font-weight: 500;
  
  
}
.subscribe__button {
    width: 180px;
    height: 62px;
    background-color: #004cff;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 600;    
    color: #ffffff;
    border: none;
    padding: 0;
    flex-shrink: 0;

}


