body {
    font-family: Roboto;
    font-size: 16px;
    color: black;
}


.container {
    width: 1280px;
    padding:0 35px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.header-logo {
font-size: 30px;
text-transform: uppercase;
font-weight: 700;
}

.header-logo span {
    color: #ec0039;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
}

.menu__item {
    display: block;
    margin-right: 24px;
    padding: 7px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: .3s ease ;
    -webkit-transition: .3s ease ;
    -moz-transition: .3s ease ;
    -ms-transition: .3s ease ;
    -o-transition: .3s ease ;
}

.menu__item:hover {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
}

.menu__item:last-child {
    margin-right: 0;
}

.post {
    position: relative;
}

.header-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.header-img img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.text {
    margin-bottom: 20px;
    padding: 20px 30px 0 30px;
    margin: 0;
}

.offer {
    text-align: center;
    padding: 50px 0;
    color: #000;
    position: relative;
    z-index: 5; 
}

.data-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.data-time__separator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: currentColor;
    margin: 0 12px;
}

.offer__art {
    padding: 8px 18px;
    color: #000;
    border: 1px solid currentColor;
    border-radius: 20px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

.offer__art:hover {
    -webkit-box-shadow: 0 0 15px;
            box-shadow: 0 0 15px;
}
.offer__title {
    font-size: 36px;
    max-width: 520px;
    margin: 32px auto;
    
}

.content {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}


.content-text {
    max-width: 720px;
    margin: 0 auto;
}

@media screen and (min-width: 635px){
    .header-img, .header-img img {
        position: absolute;
    }

    .offer {
        padding: 148px 0;
        color: #fff;
    }

    .offer__art {
        color: #fff;
    }

    .content:before {
        content: '';
        width: 100%;
        height: 3rem;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.8)), to(rgba(255,255,255, 0)));
        background: linear-gradient(to top, rgba(0,0,0,.8), rgba(255,255,255, 0));
        position: absolute;
        top: -3rem;
        left: 0;
    }

    .header-img::after {
        content: '';
        background-color: rgba(0,0,0, .6);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .post-main {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
@media screen and (min-width: 850px){
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .navigation {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }


    }


    /* 
    Стилизация для скции с Вопросами
    */


    .questions-title {
        text-align: center;
    }